<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add Shop Products</title>
</head>
<body>
<div class="container">
  <h1>Add Shop Products</h1>
  <form th:action="@{/shop_products/save}" th:object="${list}" method="POST" enctype="multipart/form-data">

    <label for="shopID">Shop ID:</label>
    <input type="number" id="shopID" th:field="*{shop.shopID}" required/><br/><br/>

    <label for="productsID">Product ID:</label>
    <input type="number" id="productsID" th:field="*{products.productID}" required/><br/><br/>

    <label for="amount">Amount:</label>
    <input type="number" id="amount" th:field="*{amount}" required/><br/><br/>

    <input type="submit" value="Save"/>
  </form>
</div>
</body>
</html>
