<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/layout-admin}">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
</head>
<body>
<!-- Begin Page Content -->
<div class="container-fluid" layout:fragment="content">

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex justify-content-between align-items-center">
            <h6 class="m-0 font-weight-bold text-primary">Employee List</h6>

            <!-- Button in line with card-header -->
            <div class="d-flex align-items-center">
                <div class="ml-auto">
                    <a href="/admin/employee/add" class="btn btn-secondary btn-icon-split">
                            <span class="icon text-white-50">
                                <i class="fas fa-arrow-right"></i>
                            </span>
                        <span class="text">Add new employee</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" style="width: 100%; border-spacing: 0;">
                    <thead>
                    <tr>
                        <th>ID</th>
<!--                        <th>Role ID</th>-->
                        <th>Citizen ID</th>
                        <th>Name</th>
                        <th>Photo</th>
                        <th>UserName</th>
                        <th>Shop ID</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="employee : ${employees}">
                        <td th:text="${employee.getEmployeeID()}"></td>
<!--                        <td th:text="${employee.roleID.getName()}"></td>-->
                        <td th:text="${employee.getCitizenID()}"></td>
                        <td th:text="${employee.getName()}"></td>
                        <td th:text="${employee.getPhoto()}"></td>
                        <td th:text="${employee.username.getUsername()}"></td>
                        <td th:text="${employee.shop.getName()}"></td>
                        <td>
                            <a th:href="@{/admin/employee/edit/{employeeID}(employeeID=${employee.employeeID})}">
                                <button>Edit</button>
                            </a>

                            <a th:href="@{/admin/employee/delete/{employeeID}(employeeID=${employee.employeeID})}">
                                <button>Delete</button></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
</body>
</html>