<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout-admin.html}">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <script th:inline="javascript">
        document.addEventListener('DOMContentLoaded', function () {
            $('#startTime').datetimepicker({
                format: 'Y-m-d H:i',
                step: 30,
            });

            $('#endTime').datetimepicker({
                format: 'Y-m-d H:i',
                step: 30,
            });
            // Bắt sự kiện khi submit form
            $('form').submit(function (e) {
                // Ngăn chặn sự kiện mặc định
                e.preventDefault();

                // Lấy giá trị từ datetimepicker
                var startTime = $('#startTime').val();
                var endTime = $('#endTime').val();

                // Gửi yêu cầu AJAX đến phương thức /admin/revenue/data
                $.ajax({
                    type: 'GET',
                    url: '/admin/revenue/data',
                    data: {
                        startTime: startTime,
                        endTime: endTime
                    },
                    success: function (data) {
                        // Hiển thị total revenue lên trang
                        $('#totalRevenue').text('Total Revenue: ' + data.revenue);
                    },
                    error: function () {
                        alert('Error fetching revenue data');
                    }
                });
            });
        });
    </script>
</head>
<body>
    <div layout:fragment="content">
        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                        class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
            </div>
            <form id="revenueForm" th:action="@{/admin/revenue/view}" method="GET">
                <div class="row" style="margin-bottom: 1.5rem;">
                    <div class="col-md-3">
                        <label for="startTime">Start Time:</label>
                        <div class="input-group date" id="startDatePicker" data-target-input="nearest">
                            <input type="text" readonly id="startTime" name="startTime" class="form-control datetimepicker-input" data-target="#startDatePicker"/>
                            <div class="input-group-append" data-target="#startTimePicker" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="endTime">End Time:</label>
                        <div class="input-group date" id="endDatePicker" data-target-input="nearest">
                            <input type="text" readonly id="endTime" name="endTime" class="form-control datetimepicker-input" data-target="#endDatePicker"/>
                            <div class="input-group-append" data-target="#endTimePicker" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 align-self-center" style="top: 15px;">
                        <button type="submit" class="btn btn-primary mx-auto">Submit</button>
                    </div>
                </div>
            </form>

            <!-- Hiển thị total revenue -->
            <div id="totalRevenue" style="margin-bottom: 15px; margin-top: -15px"></div>

        </div>
    </div>
</body>
</html>