<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/web/layout-web}">
<head>
    <meta charset="UTF-8">
    <title>List Product</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script th:inline="javascript">
        $(document).ready(function() {
            var offset = 8; // Số lượng sản phẩm hiển thị ban đầu
            var limit = 4;  // Số lượng sản phẩm muốn load thêm khi ấn nút "Show More"
            var cartId = /*[[${cartId}]]*/ null;
            console.log(cartId)
            window.showMoreProducts = function() {
                $.ajax({
                    type: "GET",
                    url: "/loadMoreProducts",
                    data: {
                        offset: offset,
                        limit: limit
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.length > 0) {
                            offset += limit; // Tăng offset cho lần load tiếp theo
                            updateProductList(data);
                        } else {
                            $("#showMoreBtn").prop("disabled", true).text("No more products");
                        }
                    }
                });
            }

            function updateProductList(products) {
                var productList = $("#productList");
                // Loop qua danh sách sản phẩm mới và thêm vào danh sách hiện tại
                $.each(products, function(index, product) {
                    var productHtml =
                        '<div class="col-md-3">' +
                        '<div class="product-item mx-auto mb-5 text-center">' +
                        '<a href="/getProductDetails/' + product.productID + '" class="text-dark">' +
                        '<img src="' + (product.imageURL != null ? '/product/images/' + product.imageURL : '/images/no_image.jpg') + '" style="height: 332px" class="img-fluid" alt="">' +
                        '</a>' +
                        '<div class="product-info text-center">' +
                        '<h3 class="fst-italic m-0">' +
                        '<a href="/getProductDetails/' + product.productID + '" class="text-dark" th:text="' + product.name + '">' + product.name + '</a>' +
                        '</h3>' +
                        '<div class="product-price text-primary fw-medium">' + product.price + ' VND</div>' +
                        '<button class="btn btn-primary mt-2" onclick="addToCart(' + product.productID + ', 1)" type="button">Add to Cart</button>' +
                        '</div>' +
                        '</div>' +
                        '</div>';
                    productList.append(productHtml);
                });
            }
            window.addToCart = function(productId, amount) {
                productId = parseInt(productId);
                amount = parseInt(amount);
                $.ajax({
                    type: "POST",
                    url: "/addToCart/add",
                    data: {
                        productId: productId,
                        cartId: cartId,
                        amount: amount
                    },
                    success: function (response) {
                        alert(response);
                    },
                    error: function () {
                        alert("Error adding product to cart");
                    }
                });
            }
        });

    </script>
</head>
<body>
    <div layout:fragment="content">
        <section id="search" class="py-lg-4" style="margin-bottom: -5rem">
            <div class="container-lg">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <form id="searchAndFilterForm" th:action="@{/product/searchPaginated}" method="POST">
                            <div class="input-group">
                                <input type="text" name="searchTerm" class="form-control" placeholder="Search by name" style="margin-right: 1.5rem;">
                                <select class="form-control" id="category" name="category">
                                    <option value="">Select Category</option>
                                    <option th:each="cate: ${categories}" th:value="${cate.categoryID}" th:text="${cate.categoryName}">Category ?</option>
                                </select>
                                <button type="submit" class="btn btn-primary ml-2">Filter</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <section id="product" class="py-lg-6">
            <div class="display-header text-center" style="margin-bottom: 4rem;">
                <h2 class="display-6 fst-italic m-0">Our Products</h2>
                <p>These are the items that are trending recently.</p>
            </div>
            <div class="product-content position-relative">
                <div class="container-lg">
                    <div class="row" id = "productList">
                        <div th:each="product : ${products}" class="col-md-3">
                            <div class="product-item mx-auto mb-5 text-center">
                                <a th:href="@{'/getProductDetails/' + ${product.productID}}" class="text-dark">
                                    <img th:src="${product.imageURL != null ? '/product/images/' + product.imageURL : '/images/no_image.jpg'}"
                                         style="height: 332px" class="img-fluid" alt="">
                                </a>
                                <div class="product-info text-center">
                                    <h3 class="fst-italic m-0">
                                        <a th:href="@{'/getProductDetails/' + ${product.productID}}" class="text-dark" th:text="${product.name}">Product Name</a>
                                    </h3>

                                    <div class="product-price text-primary fw-medium" th:text="${product.price + ' VND'}"></div>

                                    <button class="btn btn-primary mt-2" th:onclick="'addToCart(\'' + ${product.productID} + '\', 1)'" type="button">Add to Cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-3">
                        <button id="showMoreBtn" class="btn btn-lg btn-dark" onclick="showMoreProducts()">Show More</button>
                    </div>
                </div>
            </div>
        </section>
        <section id="collection" class="overflow-hidden">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4 image-zoom-effect">
                        <div class="collection-item position-relative mx-auto">
                            <div class="image-holder">
                                <img src="images/collection-item1.jpg" alt="product" class="img-fluid">
                                <div class="product-info position-absolute d-flex justify-content-center align-items-center">
                                    <div class="border d-flex justify-content-center align-items-center text-center">
                                        <div class="text-wrap">
                                            <h3 class="m-0">
                                                <a href="#product" class="text-light">Organic Herbal</a>
                                            </h3>
                                            <div class="btn-wrap">
                                                <a href="#product" class="btn btn-link text-light">Shop Now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4 image-zoom-effect">
                        <div class="collection-item position-relative mx-auto">
                            <div class="image-holder">
                                <img src="images/collection-item2.jpg" alt="product" class="img-fluid">
                            </div>
                            <div class="product-info position-absolute d-flex justify-content-center align-items-center">
                                <div class="border d-flex justify-content-center align-items-center text-center">
                                    <div class="text-wrap">
                                        <h3 class="m-0">
                                            <a href="#product" class="text-light">Organic Herbal</a>
                                        </h3>
                                        <div class="btn-wrap">
                                            <a href="#product" class="btn btn-link text-light">Shop Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4 image-zoom-effect">
                        <div class="collection-item position-relative mx-auto">
                            <div class="image-holder">
                                <img src="images/collection-item3.jpg" alt="product" class="img-fluid">
                            </div>
                            <div class="product-info position-absolute d-flex justify-content-center align-items-center">
                                <div class="border d-flex justify-content-center align-items-center text-center">
                                    <div class="text-wrap">
                                        <h3 class="m-0">
                                            <a href="#product" class="text-light">Organic Herbal</a>
                                        </h3>
                                        <div class="btn-wrap">
                                            <a href="#product" class="btn btn-link text-light">Shop Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>