<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/web/layout-web}">
<head>
    <meta charset="UTF-8">
    <title>Search Product Paging</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script th:inline="javascript">
        $(document).ready(function() {
            var cartId = /*[[${cartId}]]*/ null;
            console.log(cartId)

            window.addToCart = function(productId, amount) {
                productId = parseInt(productId);
                amount = parseInt(amount);
                $.ajax({
                    type: "POST",
                    url: "/addToCart/add",
                    data: {
                        productId: productId,
                        cartId: cartId,
                        amount: amount
                    },
                    success: function (response) {
                        alert(response);
                    },
                    error: function () {
                        alert("Error adding product to cart");
                    }
                });
            }
        });

    </script>
</head>
<body>
<div layout:fragment="content">
    <section id="search" class="py-lg-4" style="margin-bottom: -5rem">
        <div class="container-lg">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <form id="searchAndFilterForm" th:action="@{/product/searchPaginated}" method="POST">
                        <div class="input-group">
                            <input type="text" name="searchTerm" class="form-control" placeholder="Search by name" style="margin-right: 1.5rem;">
                            <select class="form-control" id="category" name="category">
                                <option value="">Select Category</option>
                                <option th:each="cate: ${categories}" th:value="${cate.categoryID}" th:text="${cate.categoryName}">Category ?</option>
                            </select>
                            <button type="submit" class="btn btn-primary ml-2">Filter</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section id="product" class="py-lg-6">
        <div class="display-header text-center" style="margin-bottom: 4rem;">
            <h2 class="display-6 fst-italic m-0">Our Products</h2>
            <p>These are the items that are trending recently.</p>
        </div>
        <div class="product-content position-relative">
            <div class="container-lg">
                <div class="row" id = "productList">
                    <div th:each="product : ${products}" class="col-md-3">
                        <div class="product-item mx-auto mb-5 text-center">
                            <a th:href="@{'/getProductDetails/' + ${product.productID}}" class="text-dark">
                                <img th:src="${product.imageURL != null ? '/product/images/' + product.imageURL : '/images/no_image.jpg'}"
                                     style="height: 332px" class="img-fluid" alt="">
                            </a>
                            <div class="product-info text-center">
                                <h3 class="fst-italic m-0">
                                    <a th:href="@{'/getProductDetails/' + ${product.productID}}" class="text-dark" th:text="${product.name}">Product Name</a>
                                </h3>
                                <div class="product-price text-primary fw-medium" th:text="${product.price + ' VND'}"></div>

                                <button class="btn btn-primary mt-2" th:onclick="'addToCart(\'' + ${product.productID} + '\', 1)'" type="button">Add to Cart</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <li th:class="${currentPage == 0} ? 'page-item disabled' : 'page-item'">
                    <a class="page-link" th:href="@{/product/searchPaginated(searchTerm=${searchTerm}, category=${selectedCategory}, page=0, size=${#size})}" aria-label="First">
                        <span aria-hidden="true">&laquo;&laquo;</span>
                    </a>
                </li>
                <li th:each="page, iterStat : ${#numbers.sequence(0, totalPages - 1)}" th:class="${currentPage == iterStat.index} ? 'page-item active' : 'page-item'">
                    <a class="page-link" th:href="@{/product/searchPaginated(searchTerm=${searchTerm}, category=${selectedCategory}, page=${iterStat.index}, size=${#size})}" th:text="${iterStat.index + 1}"></a>
                </li>
                <li th:class="${currentPage == totalPages - 1} ? 'page-item disabled' : 'page-item'">
                    <a class="page-link" th:href="@{/product/searchPaginated(searchTerm=${searchTerm}, category=${selectedCategory}, page=${totalPages - 1}, size=${#size})}" aria-label="Last">
                        <span aria-hidden="true">&raquo;&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </section>
</div>
</body>
</html>