<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer id="footer" class="mt-5" th:fragment="footer">
    <div class="container-lg">
        <div class="row justify-content-between py-5">
            <div class="col-lg-3 col-md-6 mb-5">
                <div class="footer-menu">
                    <div class="footer-intro mb-2">
                        <h4 class="fs-2 fst-italic pb-2">Know Our Wing Tea</h4>
                        <p>We are the best tea supplier in the town. Our main motive is to make our beautiful people stay fit & healthy everytime.</p>
                        <form id="form" class="mt-4 position-relative">
                            <input type="text" name="email" placeholder="Your Email Addresss" class="border-0 border-bottom bg-transparent w-100">
                            <a href="#">
                                <svg class="send svg-primary position-absolute" width="20" height="20">
                                    <use xlink:href="#send"></use>
                                </svg>
                            </a>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="footer-menu">
                    <h5 class="widget-title fst-italic">Quick Links</h5>
                    <ul class="menu-list list-unstyled">
                        <li class="menu-item fw-medium pb-2">
                            <a href="#" class="item-anchor">Home</a>
                        </li>
                        <li class="menu-item fw-medium pb-2">
                            <a href="about.html" class="item-anchor">About</a>
                        </li>
                        <li class="menu-item fw-medium pb-2">
                            <a href="shop.html" class="item-anchor">Shop</a>
                        </li>
                        <li class="menu-item fw-medium pb-2">
                            <a href="blog.html" class="item-anchor">Blogs</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="footer-menu">
                    <h5 class="widget-title fst-italic">Help</h5>
                    <ul class="menu-list list-unstyled">
                        <li class="menu-item fw-medium pb-2">
                            <a href="faqs.html" class="item-anchor">Faqs</a>
                        </li>
                        <li class="menu-item fw-medium pb-2">
                            <a href="#" class="item-anchor">Store policy</a>
                        </li>
                        <li class="menu-item fw-medium pb-2">
                            <a href="#" class="item-anchor">Shipping & returns</a>
                        </li>
                        <li class="menu-item fw-medium pb-2">
                            <a href="checkout.html" class="item-anchor">Checkout</a>
                        </li>
                        <li class="menu-item fw-medium pb-2">
                            <a href="#" class="item-anchor">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="footer-menu">
                    <h5 class="widget-title fst-italic">Social Links</h5>
                    <div class="social-links">
                        <ul class="list-unstyled">
                            <li class="fw-medium pb-2">
                                <a href="#">Facebook </a>
                            </li>
                            <li class="fw-medium pb-2">
                                <a href="#">Instagram </a>
                            </li>
                            <li class="fw-medium pb-2">
                                <a href="#">Pinterest </a>
                            </li>
                            <li class="fw-medium pb-2">
                                <a href="#">Twitter </a>
                            </li>
                            <li class="fw-medium pb-2">
                                <a href="#">Youtube </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="border-top py-4">
        <div class="container-lg">
            <div class="row justify-content-between">
                <div class="col-md-10">
                    <p>©2023 Template designed by <a href="https://templatesjungle.com" target="_blank" class="fw-medium">TemplatesJungle</a>
                    </p>
                </div>
                <div class="col-md-2">
                    <a href="#" class="d-flex">
                        <svg class="arrow-up svg-primary position-absolute" width="20" height="20">
                            <use xlink:href="#arrow-up"></use>
                        </svg>
                        <span class="ps-4">Back to top</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>