<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>ALO MilkTea</title>
    <meta charset="utf-8">
</head>
<body>
<header id="header" class="site-header fixed-top border-bottom" th:fragment="header">
    <div class="container-lg">
        <div class="row">
            <nav class="navbar navbar-expand-lg">
                <button class="navbar-toggler d-flex d-lg-none order-3 p-2 border-0 shadow-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#bdNavbar" aria-controls="bdNavbar" aria-expanded="false" aria-label="Toggle navigation">
                    <svg class="navbar-icon svg-white" width="40" height="40">
                        <use xlink:href="#navbar-icon"></use>
                    </svg>
                </button>
                <a href="#" class="navbar-brand order-2 order-lg-2 d-flex d-lg-none">
                    <img src="/images/main-logo.png" alt="Logo">
                </a>
                <div class="offcanvas offcanvas-end order-3" tabindex="-1" id="bdNavbar" aria-labelledby="bdNavbarOffcanvasLabel">
                    <div class="offcanvas-body">
                        <div class="offcanvas-header px-4 pb-0">
                            <button type="button" class="btn-close btn-close-black" data-bs-dismiss="offcanvas" aria-label="Close" data-bs-target="#bdNavbar"></button>
                        </div>
                        <div class="navbar-collapse order-1 order-lg-1" id="navbarMenu">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                    <a class="nav-link text-light me-4" href="/"> Home </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light me-4" href="about.html"> About </a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link me-4 dropdown-toggle text-light" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Category</a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="#" class="dropdown-item">Trà sữa</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <a href="#" class="navbar-brand order-2 order-lg-2 d-none d-lg-flex">
                            <img src="/images/main-logo.png" alt="Logo">
                        </a>
                        <ul class="user-items list-unstyled d-none d-lg-flex justify-content-end align-items-center order-3 flex-grow-1 gap-5 m-0">
                            <li>
                                <a href="login" class="text-light">
                                    <svg class="user svg-white" width="18" height="18">
                                        <use xlink:href="#user"></use>
                                    </svg>
                                    <span>Login</span>
                                </a>
                            </li>
                            <li>
                                <a href="cart.html" class="text-light" data-bs-toggle="offcanvas" data-bs-target="#offcanvasCart" aria-controls="offcanvasCart">
                                    <svg class="cart svg-white" width="18" height="18">
                                        <use xlink:href="#cart"></use>
                                    </svg>
                                    <span>(0)</span>
                                </a>
                            </li>
                            <li>
                                <svg class="search svg-white" width="18" height="18">
                                    <use xlink:href="#search"></use>
                                </svg>
                                <input type="text" placeholder="Search..." class="border-0 bg-transparent fst-italic outline-none text-light">
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>
</body>