<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Quản lý Người Dùng</h1>
    <button>Thêm mới</button>
    <input placeholder="Tìm kiếm"/>
    <button>Tìm kiếm</button>
    <table border="1">
        <thead>
            <th>Username</th>
            <th>Mật khẩu</th>
            <th>Email</th>
            <th>Code</th>
            <th>Trạng thái tài khoản</th>
            <th>Vai trò</th>
            <th>Hành động</th>
        </thead>
        <tbody>
            <tr th:each="user : ${list}">
                <td th:text="${user.getUsername()}"></td>
                <td>
                    <p th:text="${user.getPassword()}"></p>
                    <button>Reset</button>
                </td>
                <td th:text="${user.getEmail()}"></td>
                <td>
                    <span th:if="${user.getCode()==null}">Không có code</span>
                    <span th:text="${user.getCode()}"></span>
                </td>
                <td>
                    <span th:if="${user.isEnable()}">Hoạt động</span>
                    <span th:unless="${user.isEnable()}">Bị Vô Hiệu Hoá</span>
                </td>
                <td th:text="${user.getRole().getName()}"></td>
                <td>
                    <button>Chỉnh Sửa</button>
                    <span th:if="${user.isEnable()}"><button>Đình chỉ tài khoản</button></span>
                    <span th:unless="${user.isEnable()}"><button></button></span>
                    <button>Xoá</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div th:if="${pageCount > 1}">
        <span th:each="pageNum : ${#numbers.sequence(1, pageCount)}"
              th:class="${pageNum} == ${currentPage} ? 'current-page' : ''">
            <a th:unless="${pageNum} == ${currentPage}" th:href="@{'/admin/user/view?page=' + ${pageNum}}">[<span th:text="${pageNum}"></span>]</a>
            <span th:if="${pageNum} == ${currentPage}" th:text="${pageNum}"></span>
        </span>
    </div>


    <!--    <button><p th:text="${currentPage}"></p></button>-->
<!--    <button><p th:text="${pageCount}"></p></button>-->
</body>
</html>