<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Category</title>
</head>
<body>
<div class="container">
    <h1>Edit Category</h1>
    <form th:action="@{/category/save}" th:object="${category}" method="POST" enctype="multipart/form-data">
        <input type="hidden" th:field="*{categoryID}"/>

        <label for="categoryName">Role name:</label>
        <input type="text" id="categoryName" th:field="*{categoryName}" required/><br/><br/>

        <input type="submit" value="Save"/>
    </form>
</div>
</body>
</html>
