<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/layout-admin}">
<head>
    <meta charset="UTF-8">
    <title>Edit product</title>
</head>
<body>
<!-- Begin Page Content -->
<div class="container-fluid" layout:fragment="content">

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex justify-content-between align-items-center">
            <h6 class="m-0 font-weight-bold text-primary">Product Edit</h6>

            <!-- Button in line with card-header -->
            <div class="d-flex align-items-center">
                <div class="ml-auto">
                    <a href="/admin/product" class="btn btn-secondary btn-icon-split">
                            <span class="icon text-white-50">
                                <i class="fas fa-arrow-left"></i>
                            </span>
                        <span class="text">BACK</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <form th:action="@{/product/save}" th:object="${product}" method="POST" enctype="multipart/form-data">
                <input type="hidden" th:field="*{productID}" />

                <label for="name">Product Name:</label>
                <input type="text" id="name"  th:field="*{name}" required><br><br>

                <label for="category">Category:</label>
                <select id="category" th:field="*{category.categoryID}" required>
                    <option th:each="cate : ${categories}" th:value="${cate.getCategoryID()}" th:text="${cate.getCategoryName()}"></option>
                </select><br><br>

                <label for="price">Price:</label>
                <input type="number" id="price"  th:field="*{price}" required><br><br>

                <label for="imageURL">Image URL:</label>
                <input type="text" id="imageURL"  th:field="*{imageURL}" required><br><br>

                <label for="description">Description:</label><br>
                <textarea id="description"  rows="4" cols="50" required th:field="*{description}"></textarea><br><br>

                <button type="submit" class="btn btn-success btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-check"></i>
                    </span>
                    <span class="text">Save</span>
                </button>
            </form>
        </div>
    </div>
</div>
<!-- /.container-fluid -->
</body>
</html>