<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/layout-admin}">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
        <!-- Begin Page Content -->
        <div class="container-fluid" layout:fragment="content">

            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex justify-content-between align-items-center">
                    <h6 class="m-0 font-weight-bold text-primary">Product List</h6>

                    <!-- Button in line with card-header -->
                    <div class="d-flex align-items-center">
                        <div class="ml-auto">
                            <a href="/admin/product/add" class="btn btn-secondary btn-icon-split">
                            <span class="icon text-white-50">
                                <i class="fas fa-arrow-right"></i>
                            </span>
                                <span class="text">Add new product</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" style="width: 100%; border-spacing: 0;">
                            <thead>
                            <tr>
                                <th>ID
                                <th>Image</th>
                                <th>Product name</th>
                                <th>Category</th>
                                <th>Price</th>
                                <th>Description</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="product : ${products}">
                                <td th:text="${product.getProductID()}"></td>
                                <td><img th:src="${product.imageURL != null ? '/admin/product/images/' + product.imageURL : '/images/no_image.jpg'}"
                                         width="70" class="img-fluid" alt=""></td>
                                <td th:text="${product.getName()}"></td>
                                <td th:text="${product.getCategory().getCategoryName()}"></td>
                                <td th:text="${product.getPrice()}"></td>
                                <td th:text="${product.getDescription()}"></td>
                                <td>
                                    <a th:href="@{'/admin/product/edit/' + ${product.productID}}"><button>Edit</button></a>
                                    <a th:href="@{'/admin/product/delete/' + ${product.productID}}"><button>Delete</button></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->
</body>
</html>