<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/layout-admin}">
<head>
    <meta charset="UTF-8">
    <title>Edit product</title>
</head>
<body>
<!-- Begin Page Content -->
<div class="container-fluid" layout:fragment="content">

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex justify-content-between align-items-center">
            <h6 class="m-0 font-weight-bold text-primary">Product Ingredients Edit</h6>

            <!-- Button in line with card-header -->
            <div class="d-flex align-items-center">
                <div class="ml-auto">
                    <a href="/admin/shop" class="btn btn-secondary btn-icon-split">
                            <span class="icon text-white-50">
                                <i class="fas fa-arrow-left"></i>
                            </span>
                        <span class="text">BACK</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <form th:action="@{/details/product_ingredients/save}" th:object="${list}" method="POST" enctype="multipart/form-data">
                <input type="hidden" th:field="*{id}"/>

                <label for="productID">product ID:</label>
                <input type="number" id="productID" th:field="*{product.productID}" readonly/><br/><br/>

                <label for="ingredientsID">Ingredients ID:</label>
                <input type="number" id="ingredientsID" th:field="*{ingredients.id}" required/><br/><br/>


                <button type="submit" class="btn btn-success btn-icon-split">
            <span class="icon text-white-50">
                <i class="fas fa-check"></i>
            </span>
                    <span class="text">Save</span>
                </button>
            </form>
        </div>


    </div>
</div>
<!-- /.container-fluid -->
</body>
</html>

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Edit Product Ingredients</title>-->
<!--</head>-->
<!--<body>-->
<!--<div class="container">-->
<!--    <h1>Edit Product Ingredients</h1>-->
<!--    <form th:action="@{/details/product_ingredients/save}" th:object="${list}" method="POST" enctype="multipart/form-data">-->
<!--        <input type="hidden" th:field="*{id}"/>-->

<!--        <label for="productID">product ID:</label>-->
<!--        <input type="number" id="productID" th:field="*{product.productID}" readonly/><br/><br/>-->

<!--        <label for="ingredientsID">Ingredients ID:</label>-->
<!--        <input type="number" id="ingredientsID" th:field="*{ingredients.id}" required/><br/><br/>-->

<!--        <input type="submit" value="Save"/>-->
<!--    </form>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->
