<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Shop Ingredients</title>
</head>
<body>
<div class="container">
    <h1>Edit Shop Ingredients</h1>
    <form th:action="@{/shop_ingredients/save}" th:object="${list}" method="POST" enctype="multipart/form-data">
        <input type="hidden" th:field="*{id}"/>

        <label for="shopID">Shop ID:</label>
        <input type="number" id="shopID" th:field="*{shop.shopID}" required/><br/><br/>

        <label for="ingredientsID">Ingredient ID:</label>
        <input type="number" id="ingredientsID" th:field="*{ingredients.id}" required/><br/><br/>

        <label for="amount">Amount:</label>
        <input type="number" id="amount" th:field="*{amount}" required/><br/><br/>

        <input type="submit" value="Save"/>
    </form>
</div>
</body>
</html>
