<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shop Ingredients List</title>
</head>
<body>
<div align="center">
    <h1>Shop Ingredients List</h1>
    <a th:href="@{ shop_ingredients/add}"><button>Add</button></a>
    <table border="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>Shop</th>
            <th>Ingredient</th>
            <th>Amount</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="shop_ingredients : ${list}">
            <td th:text="${shop_ingredients.getId()}"></td>
            <td th:text="${shop_ingredients.getShop().getName()}"></td>
            <td th:text="${shop_ingredients.getIngredients().getName()}"></td>
            <td th:text="${shop_ingredients.getAmount()}"></td>
            <td>
                <a th:href="@{'shop_ingredients/edit/' + ${shop_ingredients.id}}"><button>Edit</button></a>
                <a th:href="@{'shop_ingredients/delete/' + ${shop_ingredients.id}}"><button>Delete</button></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
