<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/web/layout-web}">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <style>
        img {
            width: 50%;
            height: 30px;
        }
    </style>
</head>
<body>
<!-- Begin Page Content -->
<div class="container-fluid mt-4" layout:fragment="content">

    <!-- Cart -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Cart</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Image</th>
                        <th>Product</th>
                        <th>Amount</th>
                        <th>Price</th>
                        <th>Total</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="cart_products : ${list}">
                        <td style="width: 20%"><img th:src="${cart_products.getProduct().imageURL != null ? '/admin/product/images/' + cart_products.getProduct().imageURL : '/images/no_image.jpg'}"
                                 class="img-fluid" alt=""></td>
                        <td th:text="${cart_products.getProduct().getName()}"></td>
                        <td th:text="${cart_products.getAmount()}"></td>
                        <td th:text="${cart_products.getProduct().getPrice()}"></td>
                        <td th:text="0"></td>
                        <td>
                            <a th:href="@{'cart_products/edit/' + ${cart_products.id}}"><button class = "m-1" style="width: 40px">+</button></a>
                            <a th:href="@{'cart_products/edit/' + ${cart_products.id}}"><button class = "m-1" style="width: 40px">-</button></a>
                            <a th:href="@{'cart_products/delete/' + ${cart_products.id}}"><button>Delete</button></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
</body>
</html>