<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Wallet</title>
</head>
<body>
<div class="container">
    <h1>Edit Wallet</h1>
    <form th:action="@{/wallet/update}" th:object="${list}" method="POST" enctype="multipart/form-data">
        <input type="hidden" th:field="*{id}"/>

        <label for="customerID">Customer ID:</label>
        <input type="text" id="customerID" th:field="*{customer.customerID}" readonly/><br/><br/>

        <label for="balance">Balance:</label>
        <input type="number" id="balance" th:field="*{balance}" readonly/><br/><br/>

        <label for="inputMoney">Input Money:</label>
        <input type="number" id="inputMoney" name="inputMoney" th:value="${inputMoney}" required/><br/><br/>

        <input type="submit" value="Save"/>
    </form>
</div>
</body>
</html>
