<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<h1>Đổi mật khẩu!</h1>
<p>Xin vui lòng nhập 06 chữ số mã Code nhận được qua Email bạn đã cung cấp vào ô bên dưới để hoàn tất quá trình đổi mật khẩu! Xin cảm ơn!</p>
<form method="POST" th:action="@{vetify}" th:object="${resetPssw}">
    <p>Nhập email</p> <input type="email" th:field="*{email}" th:value="*{email}" required/>
    <p>Mã xác nhận</p> <input type="text" th:field="*{code}" required/>
    <p>Mật khẩu cũ </p> <input type="password" th:field="*{oldPassword}" required />
    <p>Mật khẩu mới </p>  <input type="password" th:field="*{newPassword}" required />
    <p>Nhập lại mật khẩu </p>  <input type="password" th:field="*{repeatPassword}" required />
    <input type="submit" value="Xác nhận">
</form>
</body>
</html>